

/*COMMON*/
.btns-action{float:right; padding:0 0 5px 0;}
.force-txt-left{text-align:left !important;}
.force-txt-right{text-align:right !important;}
.force-txt-center{text-align:center !important;}
.clear-5, .clear-10 {clear:both; display:block;}
.clear-5 {height:5px;}
.clear-10 {height:10px;}

/*CALENDAR*/
.calendar ul.month-browser li{width:40%;padding:0;border:0;text-align:left;text-transform:uppercase;height:auto;margin:10px 0 10px 0;}
.calendar ul.month-browser li.month{font-size:16px; font-weight:bold; width:60%; text-align:right; line-height:33px; vertical-align:middle; padding-right:17px;}
.calendar ul.month-browser li.month-mobile{font-size:16px; font-weight:bold; width:60%; text-align:right; line-height:33px; vertical-align:middle;}
.calendar{width:100%;}
.calendar ul{list-style:none;padding:0;margin:0;clear:both;width:100%;}
.calendar ul.weekdays{height:35px;}
.calendar ul.weekdays li{text-align:center;text-transform:uppercase;line-height:20px;padding:10px 6px;color:#777;font-size:14px; -webkit-box-sizing:border-box;-moz-box-sizing:border-box;-ms-box-sizing:border-box;box-sizing:border-box;padding:5px;display:block;float:left;border:1px solid #ccc; background:#FFF5EE;}
.calendar li{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;-ms-box-sizing:border-box;box-sizing:border-box;width:14.2857142857%;padding:5px;display:block;float:left;border:1px solid #ccc;margin-right:-1px;margin-bottom:-1px;overflow:visible!important;color:#777;}
.calendar li.weekbox{border-box;width:12.5%;}
.calendar .days:last-child li{margin-bottom:0px!important;}
.calendar .days li.fixed{position:fixed;}
.calendar .days{font-size:12px!important;}
.calendar li .day,.calendar li .month{display:none;}
.calendar .date{text-align:right;margin-bottom:5px;}
.show-info{display:block;font-size:11px;border-radius:4px;padding:5px;margin-bottom:5px;color:#666;line-height:14px;color:#009aaf;text-decoration:none;}
.show-info:hover .venue{display:block;}
.show-info-bg-1{background:#e4f2f2;border:1px solid #b5dbdc;}
.show-info-bg-2{background:#FEF2D3;border:1px solid #FDE095;}
.show-info-bg-3{background:#FEE8F1;border:1px solid #FEC9DE;}
.show-info-bg-4{background:#E4F2E3;border:1px solid #B5DCB5;}
.show-info-bg-5{background:#EBEAE1;border:1px solid #D0CEB8;}
.show-info-bg-6{background:#D5DFF6;border:1px solid #9DB2EB;}
.show-info-bg-7{background:#F6EDD5;border:1px solid #EBD79D;}
.show-info-bg-8{background:#E4D5F6;border:1px solid #C19DEB;}
.show-info-bg-9{background:#F3EFF0;border:1px solid #DED4D6;}
.show-info-bg-10{background:#E8E6BA;border:1px solid #D9D78B;}
.show-info .show-name{text-decoration:underline;}
.show-info .show-time,.venue{color:#666;margin-top:2px;text-decoration:none;}
.calendar .no-shows{display:none;}
.calendar .venue{display:none;}
.calendar li.out_of_range{background-color:#F5F5F5;color:#666;}
.calendar .calendar-day{height:200px; overflow:auto;}

.weeks-container{padding-right:15px;}
.weeks-container-ffie{padding-right:17px;}
.days-container{height:400px; overflow:hidden; position:relative;}
.days-container-child{width:100%; overflow:auto; height:100%; padding-right:17px;}


/* BOOTSTRAP OVERRIDES */
.or-form-inline{padding:0px !important; margin:0 0 10px 0 !important;}
.or-controls{margin:0px 0 0 180px !important;}
.form-actions{
display:block !important;overflow:hidden !important;border:solid 1px #e9e9e9 !important;background:#fff !important;margin:0 0 10px !important;padding:5px !important;background: #ffffff !important;
background: -moz-linear-gradient(top,  #ffffff 0%, #f5f5f5 100%) !important;
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#f5f5f5)) !important;
background: -webkit-linear-gradient(top,  #ffffff 0%,#f5f5f5 100%) !important;
background: -o-linear-gradient(top,  #ffffff 0%,#f5f5f5 100%) !important;
background: -ms-linear-gradient(top,  #ffffff 0%,#f5f5f5 100%) !important;
background: linear-gradient(top,  #ffffff 0%,#f5f5f5 100%) !important;
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f5f5f5',GradientType=0 ) !important;
-webkit-border-radius: 4px !important;
-moz-border-radius: 4px !important;
-ms-border-radius: 4px !important;
border-radius: 4px !important;
}
.alert{margin-bottom:10px !important;}

/* TABLES */
tr.row-color-1 td{background:#DDF5FB !important;}
tr.row-color-2 td{background:#FFE5D5 !important;}
tr.row-color-3 td{background:#FFFFA6 !important;}

td.col-color-1{background:#DDF5FB !important;}
td.col-color-2{background:#FFE5D5 !important;}
td.col-color-3{background:#FFFFA6 !important;}

li.col-color-1{background:#DDF5FB !important;}
li.col-color-2{background:#FFE5D5 !important;}
li.col-color-3{background:#FFFFA6 !important;}

/* LOGIN */
div.login_page {overflow:auto;height:100%;max-width:inherit;margin:0 20px;padding-top:10%}
div.login_page .login_box {position:relative;top:50%!important;width:380px;margin:0 auto 24px;background:#fff;border:1px solid #ccc;-webkit-border-radius: 6px;-moz-border-radius: 6px;-ms-border-radius: 6px;border-radius: 6px;-webkit-box-shadow: 0 0 6px rgba(0,0,0,0.2);-moz-box-shadow: 0 0 6px rgba(0,0,0,0.2);-ms-box-shadow: 0 0 6px rgba(0,0,0,0.2);box-shadow: 0 0 6px rgba(0,0,0,0.2)}

.login_page .top_b{
 text-shadow:0 1px 0 rgba(255,255,255,.5);
 font: 100 18px/42px 'PT Sans', sans-serif;
 height:41px; padding:0 20px;
 background: #1E202C;
 background: -moz-linear-gradient(top, #1E202C 0%, #1E202C 100%);
 background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1E202C), color-stop(100%,#1E202C));
 background: -webkit-linear-gradient(top, #1E202C 0%,#1E202C 100%);
 background: -o-linear-gradient(top, #1E202C 0%,#1E202C 100%);
 background: -ms-linear-gradient(top, #1E202C 0%,#1E202C 100%);
 background: linear-gradient(top, #1E202C 0%,#1E202C 100%);
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1E202C', endColorstr='#1E202C',GradientType=0 );
 border-bottom:1px solid #ccc;
 -moz-border-radius-topleft: 6px;
 -moz-border-radius-topright: 6px;
 -moz-border-radius-bottomright: 0px;
 -moz-border-radius-bottomleft: 0px;
 -webkit-border-radius: 6px 6px 0px 0px;
 border-radius: 6px 6px 0px 0px;font-size:15px
}
.login_page .top_b .logo{margin-top:-4px;}

.login_page .cnt_b {padding:0 0;width:66%;margin:0 auto}
.login_page form {margin-bottom:0}
.login_page .btm_b {padding:12px 20px;border-top:1px solid #e7e7e7;background:#f7f7f7;-moz-border-radius-topleft: 0px;-moz-border-radius-topright: 0px;-moz-border-radius-bottomright: 6px;-moz-border-radius-bottomleft: 6px;-webkit-border-radius: 0px 0px 6px 6px;border-radius: 0px 0px 6px 6px}
.login_page .links_b {width:100%;font-size:11px;text-align:center;position:absolute;bottom:-24px}
.login_page .link_reg {font-size:11px;padding:5px 0 0;display:block}
.alert-login {margin:10px 10px 0}

@media (max-width: 479px) {
.h2-mobile {font-size:14px !important;}
.calendar ul.weekdays li{font-size:10px !important; padding:5px 2px !important; height:38px !important; line-height:12px !important;}
.calendar ul.weekdays{height:40px !important;}
.calendar ul.month-browser li{width:60% !important;}
.calendar ul.month-browser li.month{font-size:10px !important; width:40% !important; line-height:12px !important; padding-top:10px !important;}
.calendar ul.month-browser li.month-mobile{font-size:10px !important; width:40% !important; line-height:12px !important; padding-top:10px !important;}
.calendar .days{font-size:8px!important;}
.show-info{font-size:8px!important;border-radius:2px!important;padding:1px!important;margin-bottom:2px!important;line-height:10px!important;}
input, select, form, textarea, label, table, thead, tbody, tr, td, .btn{font-size:10px !important;}
table, thead, tbody, tr, td, .btn-small{font-size:8px !important;}
i{margin-top:-1px !important;}

.modal-header {padding:0px 7px !important;}
.modal-header h3{font-size:14px !important;}
.modal-header .close {margin-top:-5px !important;}
.modal-body{padding:5px 7px !important;}
.tab-content{overflow:hidden !important;}

.nav-tabs>li>a{padding:2px 3px !important; font-size:11px;}
}

@media (min-width: 480px) and (max-width: 1023px) {
.h2-mobile {font-size:14px !important;}
.calendar ul.weekdays li{font-size:10px !important; padding:8px 2px !important; height:30px !important; line-height:12px !important;}
.calendar ul.weekdays{height:33px !important;}
.calendar ul.month-browser li{width:50% !important;}
.calendar ul.month-browser li.month{font-size:12px !important; width:50% !important; line-height:12px !important; padding-top:10px !important;}
.calendar ul.month-browser li.month-mobile{font-size:12px !important; width:50% !important; line-height:12px !important; padding-top:10px !important;}
.calendar .days{font-size:8px!important;}
.show-info{font-size:8px!important;border-radius:2px!important;padding:1px!important;margin-bottom:2px!important;line-height:10px!important;}
.tab-content{overflow:hidden !important;}
input, select, form, textarea, label, table, thead, tbody, tr, td, .btn{font-size:10px !important;}
table, thead, tbody, tr, td, .btn-small{font-size:8px !important;}

.nav-tabs>li>a{padding:3px 4px !important; font-size:11px;}
}

/* OVERRIDES */
.nav > li > a:hover, .nav > li > a:hover i {background-color:#424242 !important; color:#FFF !important; text-shadow:none !important;}
.nav > li > a:active, .nav > li > a:active i {background-color:#424242 !important; color:#FFF !important; text-shadow:none !important;}
.nav > li > a.active, .nav > li > a.active i {background-color:#424242 !important; color:#FFF !important; text-shadow:none !important;}

.sidebar-margin{
  margin-left: 20px;
}

/*.active > a{
  background: #000!important;
  color: #FFF!important;
}*/
.login-background{
  background:#E6E6E6;
}

.margin-2{
  margin-top: 2px!important;
}

.checkbox-position{margin-top: -1px!important;}

.pull-right{text-align:right!important;}

.pull-right{ float: right; }

.margin-top-20{ margin-top: 30px; }

.btn-create{float:right; padding:0 0 5px 0; }

.orange-text{ color: #e26b0a; }

.light-blue-text{ color: #8db4e2; }

.margin-top-5{ margin-top: 15px; }

.deployment-btns-width{ width: 150px; }

.align-center{ text-align: center!important; }

.clear-width{ width: 0!important; }

.margin-left-20{ margin-left: 40px!important; }

.red-text{ color: red; }

.checkbox-position{ margin-top: -1px!important; }

.border-top{ border-top: 1px solid #e5e5e5; }

.margin-left-neg-80{ margin-left: -80px!important; }

.margin-left-120{ margin-left: 120px!important; }

.width-100{ width: 100px!important; }

.modal-header-new{ background: #337AB7!important; color: #fff!important; }

.add-question-btn{ margin-top: -40px!important;}


.quick_reply_btn{
        border-radius: 25px;
        color: #0084ff;
        border: solid;
        border-width: .2px;
        border-color: #0084ff;
        margin-right: 10px;
        padding: 5px 15px;
        display: inline-block;
        margin-top: 10px;
    }

    .sender_message_bubble{
        background: #e8e8e8;
        border-radius: 25px;
        margin-right: 20px;
        padding: 5px 15px;
    }

.chatbox-border{
        border: solid;
        border-width: .2px;
        border-color: #d8d8d8;
        padding: 25px;
        background: white;
    }

.btn{
    margin-right:4px;
}

.sidebar{
    overflow: hidden !important;
    overflow-y: hidden !important;
}