/* ---- Gebo Admin blue theme ---- */

    .navbar-inner {
        background: #898C90;
        background: -moz-linear-gradient(to bottom, #F7F7F7, #D7D7D7);
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#F7F7F7), color-stop(100%,#D7D7D7));
        background: -webkit-linear-gradient(to bottom, #F7F7F7, #D7D7D7);
        background: -o-linear-gradient(to bottom, #F7F7F7, #D7D7D7);
        background: -ms-linear-gradient(to bottom, #F7F7F7, #D7D7D7);
        background: linear-gradient(to bottom, #F7F7F7, #D7D7D7);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#898C90', endColorstr='#898C90',GradientType=0 );
    }
    .navbar .nav > li > a {
        color: #000;
    }
    .navbar .nav > li:hover > a {
        color:#000;
    }
    .navbar .nav .active > a, .navbar .nav .active > a:hover {
        background: #206484 !important;
    }
    .navbar .divider-vertical {
        border-left-color:#F7F7F7;
        border-right-color:#D7D7D7;
    }
    .dropdown-menu li > a:hover, .dropdown-menu .active > a,
	.dropdown-menu .active > a:hover,
    .nav-list > .active > a, .nav-list > .active > a:hover,
    span.dynatree-active a {
        background: #48a6d2 !important;
    }
	
	.table thead th {background-color:#ebf2f6 !important}
	.dataTables_wrapper th.sorting_asc,.dataTables_wrapper th.sorting_desc {background-color:#d4e3eb !important}

     .pull-right{ float: right; }

    .pull-left{ float: left; }

    .margin-top-20{ margin-top: 30px; }

    .btn-create{float:right; padding:0 0 5px 0; }

    .orange-text{ color: #e26b0a; }

    .light-blue-text{ color: #8db4e2; }

    .margin-top-5{ margin-top: 15px!important; }

    .margin-top-7{ margin-top: 7px!important; }

    .deployment-btns-width{ width: 150px!important; }

    .align-center{ text-align: center!important; }

    .clear-width{ width: 0!important; }

    .margin-left-20{ margin-left: 40px!important; }

    .red-text{ color: red; }

    .checkbox-position{ margin-top: -1px!important; }

    .border-top{ border-top: 1px solid #e5e5e5; }

    .margin-left-neg-80{ margin-left: -80px!important; }

    .margin-top-neg-20{ margin-top: -20px!important; }

    .margin-top-neg-30{ margin-top: -30px!important; }

    .margin-top-neg-6{ margin-top: -6px!important; }

    .margin-left-120{ margin-left: 120px!important; }

    .margin-right-5{ margin-right: 5px!important; }

    .margin-left-200{ margin-left: 200px!important; }

    .width-100{ width: 100px!important; }

    .width-190{ width: 190px!important; }

    .modal-header-new{ background: #337AB7!important; color: #fff!important; }

    .add-question-btn{ margin-top: -40px!important;}

    .chatbox-border{
        border: solid;
        border-width: .2px;
        border-color: #d8d8d8;
        padding: 25px;
        background: white;
    }

    .quick_reply_btn{
        border-radius: 25px;
        color: #0084ff;
        border: solid;
        border-width: .2px;
        border-color: #0084ff;
        margin-right: 10px;
        padding: 5px 15px;
        display: inline-block;
        margin-top: 10px;
    }

    .sender_message_bubble, .sender-message-bubble{
        background: #e8e8e8;
        border-radius: 25px;
        margin-right: 20px;
        padding: 5px 15px;
    }

    .sender-message-bubble {
        background: #0084ff none repeat scroll 0 0;
        color: #fff;
    }

    .clear-background{background: none!important;}

    .three-fourth{width:85%;}

    .gray-box {
        border: 0.2px solid #d8d8d8;
        border-radius: 8px;
        width: 80%;
    }

    .gray-bot-border {
        border-bottom: 0.2px solid #d8d8d8;
        border-color: #d8d8d8;
        border-width: 0.2px;
    }

    .container-fluid {
        margin-left: auto;
        margin-right: auto;
        padding-left: 0px!important;
        padding-right: 0px!important;
    }

    .persistent-menu-text-padding {
        padding: 10px;
    }

    .persistent-menu-preview-text {
        margin-left: 10px;
    }

    .font-color-blue {
        color: #0264c1;
        font-size: 17px;
        margin-left: 5px;
    }

    .btn-response-text {
        background: #e8e8e8 none repeat scroll 0 0;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }

    .btn-response-button {
        background: #fff none repeat scroll 0 0;
        border: 0.2px solid #e8e8e8;
        color: #0084ff;
    }

    .btn-response-button, .btn-response-text {
        clear: both;
        display: block;
        margin-right: 20px;
        padding: 5px 15px;
        width: 100%;
    }

    .persistent-menu-blue-text {
        color: #0099e5;
        margin-left: 10px;
    }

    .finish-button{background-color: #303030!important;}

    .circle {
        width: 25px;
        height: 25px;
        border-radius: 50%;
        color: #0084ff;
        line-height: 25px;
        background: #fff;
        box-shadow: 0 0 0 1px #0084ff;
        margin: 5px;
        display: inline-block;
    }

    .black-box {
        border: solid;
        border-width: .1px;
        border-color: #d8d8d8;
        margin: 2px;
        margin-left: 10px;
    }

    .product-btn {
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .text-center {text-align: center;}

    .padding-top-15 {margin-top: 15px;}

    .little-padding-left {padding-left: 10px;}

    .little-padding-top {padding-top: 50px;}

    .items [class*="span"] { margin-left: 0px;}

    .modal-body{max-height: 600px!important}

    .row-fluid input[class*="span"], .row-fluid textarea[class*="span"], .row-fluid select[class*="span"] {
        display: inline!important;
        min-height: 100px!important;
    }
